@import url('https://fonts.googleapis.com/css2?family=Koulen&display=swap');
:root {
  /* Colours As Variables */
  --ESBlack: #000000;
  --CCYellow:#c9b350;
  --KeyboardShadow:#837432;
  --TextFont: "Koulen", sans-serif;
}

.LetterContainer{
  display: flex;
}

.Letter{
  border: 1px solid black;
  height: 20px;
  width: 50px;
  text-align: center;
}

.SelectedLetter{
  border: 1px solid red;
  background-color: rgb(185, 187, 146);
  height: 20px;
  width: 50px;
  color: aliceblue;
  text-align: center;
}

.RevealedLetter{
  color: rgb(255, 13, 0);
}

.Keyboard{
  text-align: center;
  background-color: var(--CCYellow);
}

.KeyboardLetter{
  width: 35px;
  height: 35px;
  box-shadow: 3px 3px 0px var(--KeyboardShadow);
  border-radius: 20%;
  border: none;
}
.KeyboardLetter:hover, .KeyboardLetterLong:hover{
  box-shadow: none;
}
.KeyboardLetter:active, .hitkeyboardLetter{
  width: 35px;
  height: 35px;
  border: none;
  background-color: rgb(4, 144, 30);
  border-radius: 15px;
  box-shadow: none;
}

.KeyboardLetterLong{
  width: 60px;
  height: 35px;
  border: none;
  border-radius: 15px;
}

.KeyboardLetterLong:active, .hitkeyboardLetterLong{
  width: 60px;
  height: 35px;
  border: none;
  background-color: rgb(4, 144, 30);
  border-radius: 15px;
}

.KeyboardRow{
display: flex;
}

/* Revealed Definition CSS */
.RevealedDefinition {
  position: relative;
  display: inline-block;
  background-color: var(--CCYellow); 
  padding: 0 2px;
  border-radius: 3px;
  transition: all 0.5s ease-out; /* Smooth transition for the reveal */
}

.RevealedDefinition::before {
  content: "DEFINITION";
  position: absolute;
  top: -15px; /* Adjust this value based on your needs */
  left: 50%;
  transform: translateX(-50%);
  color: var(--CCYellow); /* Text color */
  padding: 2px;
  font-size: 12px; /* Adjust the font size as needed */
}

/* PopUp Window */
.PopUpShade {
  display: block;
  justify-content: center;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.4);
}
.PopUpWindow {
  background-color: #fefefe;
  margin: 10% auto;
  width: 80%;
  text-align: center;
  border-radius: 15px;
}

/* Styled Elements */
html, body {
  margin: 0;
  padding: 0;
  background-color: var(--White);
  font-family: var(--TextFont);
  font-size: 1.25rem;
}

.container{
  background-color: #c9b350;
  min-height: 100vh;
  display: flex;
  flex-direction: column;

}

/* Header */
.headerContainer{

  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 1%;
}
.titleText{
  color: var(--CCYellow);
  font-family: "Koulen", sans-serif;
  font-weight: 400;
  font-size: 2.5rem;
}

/* DIVS For displaying Content */
.center{
  margin: auto;
  width: 100%;
  text-align: center;
}