.LetterContainer{
  display: flex;
}

.Letter{
  border: 1px solid black;
  height: 20px;
  width: 100px;
}

.SelectedLetter{
  border: 1px solid red;
  height: 20px;
  width: 100px;

}

.Keyboard{
  background-color: black;
  color: aliceblue;
}