@import url('https://fonts.googleapis.com/css2?family=Koulen&display=swap');
:root {
  /* Colours As Variables */
  --ESBlack: #000000;
  --CCYellow:#c9b350;
  --KeyboardShadow:#837432;
  --KeyboardLetters:#000000;
  --TextFont: "Koulen", sans-serif;
}

.Pages-Container {
  display: flex;
  width: 100%;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 475px) {
  .Pages-Container {
    max-width: 475px;
  }
}
@media (min-width: 640px) {
  .Pages-Container {
    max-width: 640px;
  }
}
@media (min-width: 768px) {
  .Pages-Container {
    max-width: 768px;
  }
}

@media (min-width: 1024px) {
  .Pages-Container {
    max-width: 1024px;
  }
}

@media (min-width: 1280px) {
  .Pages-Container {
    max-width: 1280px;
  }
}

@media (min-width: 1536px) {
  .Pages-Container {
    max-width: 1536px;
  }
}

.centered-content{
  text-align: center;
}

.LetterContainer{
  display: flex;
  justify-content: center;
  padding: 20px 0px;
}

.Letter{
  border: 5px solid black;
  height: 50px;
  width: 50px;
  text-align: center;
}

.SelectedLetter{
  border: 5px solid red;
  background-color: rgb(185, 187, 146);
  height: 50px;
  width: 50px;
  color: aliceblue;
  text-align: center;
}

.RevealedLetter{
  color: rgb(255, 13, 0);
}

.Keyboard {
  display: flex;            /* make it a flex container */
  flex-direction: column;
  align-items: center;      /* center vertically */
  background-color: var(--CCYellow);
}

.KeyboardLetter{
  font-family: var(--TextFont);
  font-weight: 600;
  font-size: 1.25rem;
  text-anchor: middle;
  margin: 2px;
  width: 2.2rem;
  height: 2.2rem;
  box-shadow: 3px 3px 0px var(--KeyboardShadow);
  border-radius: 20%;
  border: none;
}
.KeyboardLetter:hover, .KeyboardLetterLong:hover{
  box-shadow: none;
  background-color: aqua;
}
.KeyboardLetter:active, .hitkeyboardLetter{
  font-family: var(--TextFont);
  font-weight: 600;
  font-size: 1.25rem;
  text-anchor: middle;
  width: 2.2rem;
  height: 2.2rem;
  border: none;
  background-color: rgb(4, 144, 30);
  border-radius: 20%;
  box-shadow: none;
}

.KeyboardLetterLong{
  margin: 2px;
  width: 4.4rem;
  height: 2.2rem;
  box-shadow: 3px 3px 0px var(--KeyboardShadow);
  border-radius: 10%;
  border: none;
  font-family: var(--TextFont);
  font-weight: 600;
  font-size: 1.25rem;
  text-anchor: middle;
}

.KeyboardLetterLong:active, .hitkeyboardLetterLong{
  width: 4.4rem;
  height: 2.2rem;
  border: none;
  background-color: rgb(4, 144, 30);
  border-radius: 10%;
  border: none;
}

.KeyboardRow{
  width: max-content;
}

/* Revealed Definition CSS */
.RevealedDefinition {
  position: relative;
  display: inline-block;
  background-color: var(--CCYellow); 
  padding: 0 2px;
  border-radius: 3px;
  transition: all 0.5s ease-out; /* Smooth transition for the reveal */
}

.RevealedDefinition::before {
  content: "DEFINITION";
  position: absolute;
  top: -15px; /* Adjust this value based on your needs */
  left: 50%;
  transform: translateX(-50%);
  color: var(--CCYellow); /* Text color */
  padding: 2px;
  font-size: 12px; /* Adjust the font size as needed */
}

/* Base button shared by both */
.buttonBase {
  font-weight: 600;
  font-size: 1.25rem;
  margin: 2px;
  padding: 5px 20px;
  height: 2.2rem;
  border-radius: 10px;
  border: none;
  position: relative;
  min-width: 125px; 
  text-align: center;
}

/* Colour button specific styles */
.colourButton {
  background-color: var(--CCYellow);
  color: azure;
}

.colourButton:hover {
  color: var(--KeyboardLetters);
}

/* Black button specific styles */
.blackButton {
  background-color: black;
  color: azure;
}


/* PopUp Window */
.PopUpShade {
  display: block;
  justify-content: center;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.4);
}
.PopUpWindow {
  background-color: #fefefe;
  margin: 10% auto;
  width: 80%;
  text-align: center;
  border-radius: 15px;
}

/* Styled Elements */
html, body {
  margin: 0;
  padding: 0;
  background-color: var(--White);
  font-family: var(--TextFont);
  font-size: 1.25rem;
}

.container{
  background-color: #c9b350;
  min-height: 100vh;
  display: flex;
  flex-direction: column;

}

/* Header */
.headerContainer{

  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 1%;
}
.titleText{
  color: var(--CCYellow);
  font-family: "Koulen", sans-serif;
  font-weight: 400;
  font-size: 2.5rem;
}

/* DIVS For displaying Content */
.center{
  margin: auto;
  width: 100%;
  text-align: center;
}